@import url('https://fonts.googleapis.com/css?family=Poppins');
*, *:before, *:after{
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Poppins,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
